.bodylogin{
   background-image: url(https://i.pinimg.com/1200x/78/38/92/783892bccb4acfc75cd870e623e27e4d.jpg);
   background-size: 2000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
}


.h1login{
    color: rgb(60, 146, 192);   
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
      
}

.bodyindex{
    background-color: rgb(199, 199, 241);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
}

.h2body{
    color: rgb(60, 146, 192);
    background-color: rgb(188, 188, 252);
    font-family: cursive;
}

.links {
    background-color: rgb(119, 170, 236);
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.h6ema{
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: end;
    margin-top: 300px;
    color: rgb(60, 146, 192);
    font-style: italic;
}

.formcadusu{
    background-color: rgb(199, 199, 241);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
}

.h1fcusu{
    color: rgb(60, 146, 192);
    background-color: rgb(188, 188, 252);
    font-family: cursive;
}

.fcbody{
    background-color: rgb(199, 199, 241);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
}

.inic{
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: end;
    margin-top: 300px;
    color: rgb(60, 146, 192);
    font-style: italic;
}

.list{
   
    color: rgb(60, 146, 192);
    font-style: italic;
}

.h1cad{
    color: rgb(60, 146, 192);
    background-color: rgb(188, 188, 252);
    font-family: cursive;
}

.listbody{
    background-color: rgb(199, 199, 241);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
}

.iniclist{
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: end;
    margin-top: 300px;
    color: rgb(60, 146, 192);
    font-style: italic;
}

.cadlist{
    color: rgb(60, 146, 192);
    font-style: italic;
}

.h1list{
    color: rgb(60, 146, 192);
    background-color: rgb(188, 188, 252);
    font-family: cursive;
}

.table{
    border-color: azure;
    border-radius: 15px;
    font-size: 19px;
    color: lavender;
}

.clink{
    background-color: rgb(119, 170, 236);
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    
}

.entrarbon{
    background-color: rgb(119, 170, 236);
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.cadput{
    background-color: rgb(119, 170, 236);
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

a{
    text-decoration: none;
}